.cell {
  --cell-hover-color: rgba(90, 163, 163, 0.267);
  --cell-selected-color: rgba(69, 179, 179, 0.267);
  --cell-min-size: 50px;
  --cell-border-color: #808080;
  min-width: var(--cell-min-size);
  min-height: var(--cell-min-size);
  /* display: inline-block; */
  /* margin: 0; */
  /* width: 100%;
  height: 100%; */
  /* padding-top: 100%; */
}

.cell.bordered {
  border: solid 2px var(--cell-border-color);
}

.cell:hover {
  cursor: pointer;
}

.cell:not(.selected):hover::after {
  background-color: var(--cell-hover-color);
}

.cell.selected::after {
  content: '';
  position: absolute;
  width: var(--cell-min-size);
  height: 100%;
  z-index: 2;
  overflow: hidden;
  background-color: var(--cell-selected-color);
}
