.matrix {
  --matrix-border-color: #808080;
  /* width: fit-content; */
  /* background-color: red; */
  width: 100%;
  display: flex;
  flex-direction: space-between;
}

.matrix.bordered {
  border: solid 2px var(--matrix-border-color);
}
